# Python specific
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython profile_default
profile_default/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.env.test
.env.development
.env.production
.env.local

# Docker specific
Dockerfile*
docker-compose.override.yml
docker-compose.*

# Kubernetes configuration files
*.yaml
*.yml

# Logs and temporary files
logs/
*.log
tmp/
*.swp
*~

# IDEs and editors
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.idea/

# macOS specific
.DS_Store

# Node.js specific (if using npm or yarn)
node_modules/
npm-debug.log*
yarn-error.log*

# Go specific (if using Go)
vendor/
*.out
*.test
*.prof
